@tailwind base;
@tailwind components;
@tailwind utilities;


.gridcontainner{

    display: grid;
    grid-template-columns: repeat(5,1fr);
    row-gap: 50px;
    column-gap: 12px;
}

.border{

    border: 2px solid whitesmoke;
}

.borderbottom{
    border-bottom: 1px solid whitesmoke;
}

@media (max-width:1200px){
    
    .gridcontainner{
        grid-template-columns: repeat(4,1fr);
    }
}

@media (max-width:1024px){
    
    .gridcontainner{
        grid-template-columns: repeat(3,1fr);
    }
}


@media (max-width:760px){
    
    .gridcontainner{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:500px){
    
    .gridcontainner{
        grid-template-columns: repeat(1,1fr);
    }
}